<template x-if="modal_mode['type'] === 'youtube'">
    <div class="video-container">
        <h2 x-text='`Запись лекции "${modal_mode["lecture_name"]}"`'></h2>
        <iframe :src="`https://www.youtube.com/embed/${modal_mode['id']}`"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
                frameborder="0"
                height="480"
                style="border-radius: 1em;  display: block;"
                width="853" width="853">
        </iframe>
    </div>
</template>
