<html>
<head><title>Не найдено</title></head>
<body style='font-family: sans-serif; text-align: center; margin-top: 10vh;'>
<h1>404 – Страница не найдена</h1>
<p>Возможно, то, что вы ищите, находится <a href="{{ archive_url }}" style="color: #007BFF;">в архиве</a></p>
<a href="/" style="color: #007BFF;">Вернуться на главную</a>
</body>
</html>